@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.navbar-open-menu {
		@apply focus:outline-none hover:text-gray-400 inline-flex items-center justify-center p-2 rounded-md text-gray-300;
	}

	.navbar-item {
		@apply text-main-textDark-600 dark:text-main-textLight-530
		hover:text-main-textDark-500
		dark:hover:text-main-textLight-500
		rounded-md
		py-3
		px-4
		inline-flex
		items-center
		text-base
		font-semibold
		focus:outline-none
		focus-visible:ring-1 focus-visible:ring-white;
	}

	.navbar-mobile-item {
		@apply -m-3 p-3 flex items-center rounded-md text-main-textDark-600 dark:text-main-textLight-530
		hover:bg-main-light-560
		dark:hover:bg-main-dark-560;
	}

	.navbar-mobile-item-name {
		@apply ml-3 text-base font-medium text-main-textDark-600 dark:text-main-textLight-530;
	}

	.register-form-input-label {
		@apply block text-base font-bold text-main-textDark-530 dark:text-main-textLight-530;
	}
	
	.register-form-input {
		@apply block w-full px-3 py-2 mt-2 
		text-gray-900 placeholder-gray-500 border border-gray-300 
		rounded-lg shadow-sm appearance-none
		bg-white dark:bg-gray-300
		focus:outline-none focus:ring-2 focus:ring-main-textLight-460 focus:z-20 sm:text-sm;
	}
}

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: #0f4c75;
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
}

.dark #nprogress .bar {
	background: #2e78a9;
}
